.Pokedek-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

body {
    background-color: turquoise;
}

.Pokedek-winner {
    color: green;
}

.Pokedek-loser {
    color:red
}

